<h1>Inscription</h1>


<div class="form-group">
  <label for="client.prenom">prenom:</label>
  <input id="client.prenom" class="form-control" [(ngModel)]="client.prenom" />
  </div>
  <div class="form-group">
    <label for="client.nom">nom:</label>
    <input id="client.nom" class="form-control" [(ngModel)]="client.nom" />
    </div>
<div class="form-group">
  <label for="client.email">email:</label>
  <input id="client.email" class="form-control" [(ngModel)]="client.email" />
  </div>
<div class="form-group">
  <div class="form-group">
    <label for="client.mdp">Mot de passe:</label>
    <input id="client.mdp" class="form-control" [(ngModel)]="mdp" />
    </div>
  <div class="form-group">
    <div class="form-group">
      <label for="client.mdp">Confirmation du mot de passe:</label>
      <input id="client.mdp" class="form-control" [(ngModel)]="mdpConf" />
      </div>
    <div class="form-group">


  <div class="form-group">
    <button class="btn btn-outline-success" (click)="save()">
      S'enregistrer
    </button>
    <button class="btn btn-outline-warning" (click)="annuler()">
      Annuler
    </button>
  </div>

