<h1>Inscription</h1>
<div class="form-group">
  <label for="client.email">Email:</label>
  <input id="client.email" class="form-control" [(ngModel)]="client.email" />
  </div>
  <div class="form-group">
    <label for="client.email">Mot de passe:</label>
    <input id="client.email" class="form-control" [(ngModel)]="client.email" />
    </div>
    <div class="form-group">
      <label for="client.email">Confirmation du mot de passe:</label>
      <input id="client.email" class="form-control" [(ngModel)]="client.email" />
      </div>
    <div class="form-group">
      <button class="btn btn-outline-success" (click)="save()">
        Enregistrer
      </button>
      <button class="btn btn-outline-warning" (click)="annuler()">
        Annuler
      </button>
    </div>
    <!--
<div class="form-group">
  <label for="id">id:</label>
  <input id="id" class="form-control" [(ngModel)]="client.id_client" />
</div>
<div class="form-group">
  <label for="nom">nom:</label>
  <input id="nom" class="form-control" [(ngModel)]="client.nom" />
</div>
<div class="form-group">
  <label for="client.prenom">prenom:</label>
  <input id="client.prenom" class="form-control" [(ngModel)]="client.prenom" />
</div>
<div class="form-group">
  <label for="client.email">email:</label>
  <input id="client.email" class="form-control" [(ngModel)]="client.email" />
  </div>
  <div class="form-group">
    <label for="client.telephone">telephone:</label>
    <input
      id="client.telephone"
      class="form-control"
      [(ngModel)]="client.telephone">
  </div>


-->
