<fieldset>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-group">
      <label for="login">Login:</label>
      <input id="login" class="form-control" formControlName="loginCtrl" />
      <div *ngIf="form.get('loginCtrl')?.hasError('notUnique')">
        *Login deja utilisé
      </div>
    </div>
    <ng-container formGroupName="passwordGroup">
      <div class="form-group">
        <label for="password">Mot de passe: </label>
        <input
          class="form-control"
          id="password"
          formControlName="passwordCtrl"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            form.get('passwordGroup.passwordCtrl')?.dirty &&
            form.get('passwordGroup.passwordCtrl')?.invalid
          "
        >
          Mot de passe invalide (Une majuscule, une minuscule, une longueur de 4
          caractères dont au moin un special parmi: * ? . @ ! = + # )
        </div>
      </div>
      <div class="form-group">
        <label for="confirmation">Resaisir le mot de passe: </label>
        <input
          type="password"
          id="confirmation"
          class="form-control"
          formControlName="confirmCtrl"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            form.get('passwordGroup')?.dirty &&
            form.get('passwordGroup')?.invalid
          "
        >
          Ne correspond pas au même mot de passe
        </div>
      </div>
    </ng-container>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        Enregistrer
      </button>
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >Annuler</a
      >
    </div>
  </form>
</fieldset>
