<h1>Nouvelle réservation</h1>
<div class="form-group">
  <label for="id">id:</label>
  <input id="id" class="form-control" [(ngModel)]="reservation.id" readonly />
</div>

<div>
  <label for="terrainReserve">Choisissez un terrain :</label>
<select name="terrainReserve" id="terrainReserve" [(ngModel)]="a">
  <option value="0">--Please choose an option--</option>
  <option value="1">Jaune</option>
  <option value="2">Bleu</option>
  <option value="3">Rouge</option>
  <option value="4">Vert</option>
</select>
<p *ngIf="a>0">
  <button routerLink="/terrain/{{a}}"> voir le terrain</button>
</p>
</div>

<div class="form-group">
  <label for="date">date:</label>
  <input
    id="date" min="2022-09-15"
    class="form-control"
    [(ngModel)]="reservation.date"
    type="date"
  />
</div>
<div class="form-group">
  <label for="heure">heure:</label>
  <input
    id="heure" type="time" step="3600" min="07:00:00" max="22:00:00" required
    class="form-control"
    [(ngModel)]="reservation.heure"
  />
</div>
<div> Le prix d'une réservation est {{reservation.prix}}</div>

<div class="form-group">
  <button class="btn btn-outline-success" (click)="save()">enregistrer</button>
  <button class="btn btn-outline-success" (click)="annuler()" class="btn btn-outline-warning">Annuler</button>
</div>

