<table class="table">
  <thead>
    <th>Terrain</th>
    <th>Nom</th>
    <th>Couleur</th>
    <th>Image</th>
  </thead>
  <tbody>
    <tr *ngFor="let a of listTerrain$ | async">
      <td>
        <a routerLink="/terrain/{{ a.id }}" routerLinkActive="active">
          Voir le terrain</a
        >
      </td>
      <td>Terrain {{ a.nom }}</td>
      <td>{{ a.nom | uppercase }}</td>
      <td>
        <img
          src="{{ a.imageUrl }}"
          alt="{{ a.imageUrl }}"
          style="width: 80px"
        />
      </td>
    </tr>
  </tbody>
</table>
