<h1>edition client</h1>

<div class="form-group">
  <label for="id">id:</label>
  <input id="id" class="form-control" [(ngModel)]="client.id" readonly/>
</div>
<div class="form-group">
  <label for="nom">nom:</label>
  <input id="nom" class="form-control" [(ngModel)]="client.nom" />
</div>
<div class="form-group">
  <label for="client.prenom">prenom:</label>
  <input id="client.prenom" class="form-control" [(ngModel)]="client.prenom" />
</div>
<div class="form-group">
  <label for="client.email">email:</label>
  <input id="client.email" class="form-control" [(ngModel)]="client.email" />
  </div>
  <div class="form-group">
    <label for="client.telephone">telephone:</label>
    <input
      id="client.telephone"
      class="form-control"
      [(ngModel)]="client.telephone"/>
  </div>

   <div class="form-group">
    <label for="client.adresse.numero">numero:</label>
    <input
      id="client.adresse.numero"
      class="form-control"
      [(ngModel)]="adresse.numero"
    />
  </div>
  <div class="form-group">
    <label for="client.adresse.rue">rue:</label>
    <input
      id="client.adresse.rue"
      class="form-control"
      [(ngModel)]="adresse.rue"
    />
  </div>
  <div class="form-group">
    <label for="client.adresse.codePostal">code postal:</label>
    <input
      id="client.adresse.codePostal"
      class="form-control"
      [(ngModel)]="adresse.codePostal"
    />
  </div>
  <div class="form-group">
    <label for="client.adresse.ville">ville:</label>
    <input
      id="client.adresse.ville"
      class="form-control"
      [(ngModel)]="adresse.ville"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-outline-success" (click)="save()">
      Enregistrer
    </button>
    <button class="btn btn-outline-warning" (click)="annuler()">
      Annuler
    </button>
  </div>

