<header class="header">
  <h1>
    <a routerLink="home" routerLinkActive="active"
      ><img src="assets/imagefive/logo_five.png" style="width: 150px"
    /></a>
    FiveFoot : le foot simplifié
  </h1>

  <!-- <img
    id="1"
    src="assets/imagefive/logo_five.png"
    class="five"
    style="width: 150px"
  /> -->

  <nav>
    <ng-container *ngIf="logged">
      <a routerLink="clients" routerLinkActive="active"> Clients </a>
      <a routerLink="admins" routerLinkActive="active"> Admins </a>
      <a routerLink="reservations" routerLinkActive="active"> Réservations</a>

      <a
        routerLink="/marchandise/ballon"
        routerLinkActive="active"
        class="btn btn-link"
        >Ballon</a
      >
      <a
        routerLink="/marchandise/maillot"
        routerLinkActive="active"
        class="btn btn-link"
        >Maillot</a
      >

      <a routerLink="commande" routerLinkActive="active" class="btn btn-link"
        >Mes commandes</a
      >
      <button (click)="logout()" class="btn btn-link">Deconnexion</button>
    </ng-container>
    <ng-container *ngIf="!logged">
      <a routerLink="login" routerLinkActive="active" class="btn btn-link"
        >Se connecter</a
      >
      <a routerLink="inscription" routerLinkActive="active"> S'inscrire </a>
    </ng-container>

    <a routerLink="reservation/create" routerLinkActive="active"> Reservez</a>
    <a routerLink="home" routerLinkActive="active"> Home</a>
    <a routerLink="terrains" routerLinkActive="active"> Terrains </a>
    <a routerLink="/marchandise" routerLinkActive="active" class="btn btn-link"
      >Boutique</a
    >
    <a routerLink="panier" routerLinkActive="active" class="btn btn-link"
      >Panier</a
    >
  </nav>
</header>
