.header{
  text-align: center;
  background-color: rgba(0, 0, 1, 0.05);
  margin-bottom: 20px;
  padding: 10px;
}
.active{
  color:blue
}
a{
  margin :0 30px;
  color: grey;
  text-decoration: overline;

}
.snapped{
  background-color: lightgreen;
  }
img.five{
    position: absolute;
    top:20px;
    left:140px
  }
