<table class="table">
    <thead>

      <th>nom</th>
      <th>prix</th>
      <th>description:</th>
      <th>stock</th>
      <th>equipe</th>
      <th>taille</th>
      <th>image</th>
    </thead>
    <tbody>
      <tr *ngFor="let a of observableMaillots | async">

        <td>
          <a routerLink="/marchandise/maillot/{{a.id}}" >
            {{a.nom}}
          </a>
        </td>
        <td>{{ a.prix }}</td>
        <td>{{ a.description }}</td>
        <td>{{ a.stock}} </td>
        <td>{{ a.equipe }}</td>
        <td>{{ a.taille }}</td>
        <td> <img src="{{a.imageUrl}}" alt="{{a.imageUrl}}"></td>
        <td>
          <a
            routerLink="edit/{{ a.id }}"
            routerLink="active"
            class="btn btn-outline-primary"
            >editer</a
          >

        </td>
        <td>
          <button (click)="delete(a.id!)" class="btn btn-outline-danger">
            supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/marchandise/maillot/add" routerLinkActive="active" class="btn btn-link"
    >ajouter un nouveau maillot</a
  >
