<h1>edition reservation</h1>
<div class="form-group">
  <label for="id">id:</label>
  <input id="id" class="form-control" [(ngModel)]="reservation.id" readonly />
</div>


<div>
  <label for="terrainReserve">Choisissez un terrain :</label>
<select name="terrainReserve" id="terrainReserve" [(ngModel)]="reservation.terrainReserve.id">
  <option value="1">--Please choose an option--</option>
  <option value="1">Jaune</option>
  <option value="2">Bleu</option>
  <option value="3">Rouge</option>
  <option value="4">Vert</option>
</select>
<h2> {{a}} -> {{b}}  terrain : id: {{reservation.terrainReserve.id}}  nom: {{reservation.terrainReserve.nom}}</h2>
</div>
<div class="form-group">
  <label for="date">date:</label>
  <input
    id="date"
    class="form-control"
    [(ngModel)]="reservation.date"
    type="date"
  />
</div>
<div class="form-group">
  <label for="heure">heure:</label>
  <input
    id="heure"
    class="form-control"
    [(ngModel)]="reservation.heure"
    type="time"
  />
</div>
<div> Le prix d'une réservation est {{reservation.prix}}</div>
<div class="form-group">
  <button class="btn btn-outline-success" (click)="save()">enregistrer</button>
  <button class="btn btn-outline-success" (click)="annuler()" class="btn btn-outline-warning">Annuler</button>
</div>

