<div>
    nom:<input class="form-control" [(ngModel)]="maillot.nom" /><br />
    prix:<input class="form-control" [(ngModel)]="maillot.prix" /><br />
    description:<input class="form-control" [(ngModel)]="maillot.description" /><br />
    stock:<input class="form-control" [(ngModel)]="maillot.stock" /><br />
    equipe:<input class="form-control" [(ngModel)]="maillot.equipe" /><br />
    taille:<input class="form-control" [(ngModel)]="maillot.taille" /><br />
</div>
    <div class="form-group">
        <button routerLink="/marchandise/maillot"
        routerLinkActive="active" class="btn btn-outline-success" (click)="save()">Ajouter</button>
        <a
          routerLink="/marchandise/maillot"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >annuler</a
        >
 </div>