


<h2> Liste de nos articles : </h2>
<div *ngIf="showMessage" class="alert alert-info">{{ message }}</div>
<table class="table">
  <thead>
    <th>id:</th>
    <th>nom:</th>
    <th>prix:</th>
    <th>description:</th>
    <th>stock:</th>

  </thead>
  <tbody>
    <tr *ngFor="let marchandise of observableMarchandises | async">
      <td>{{ marchandise.id }}</td>
      <td>{{ marchandise.nom }}</td>
      <td>{{ marchandise.prix }}</td>
      <td>{{ marchandise.description }}</td>
      <td>{{ marchandise.stock }}</td>
      <td>{{stat$|async}}</td>
      <td *ngIf="oui">{{oui}} hello</td>

      <td> <button (click)="view(marchandise.id!)"> View</button></td>
      <td><button class="btn btn-primary btn-sm" (click)="addToCart(marchandise)">
        ajouter panier
       </button>
      </td>

    </tr>
  </tbody>
</table>

<app-carousel2></app-carousel2>
