<table class="table">
  <thead>
    <tr>
      <th>id:</th>
      <th>prenom:</th>
      <th>nom:</th>
      <th>email:</th>
      <th>telephone:</th>
      <th>adresse:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of observableClients | async">
      <td>{{ client.id }}</td>
      <td>{{ client.prenom }}</td>
      <td>{{ client.nom }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.telephone }}</td>
      <td>{{ client.adresse?.numero }} {{ client.adresse?.rue }} {{ client.adresse?.codePostal }} {{ client.adresse?.ville }}</td>
      <td><button (click)="editClient(client.id)">edit</button></td>
      <td>
        <button (click)="delete(client.id!)" class="btn btn-outline-danger">
          supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="newClient()">Nouveau Client</button>

