<table class="table">
  <thead>
    <tr>
      <th>id:</th>
      <th>prenom:</th>
      <th>nom:</th>
      <th>email:</th>
      <th>telephone:</th>
      <th>adresse:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of observableAdmins | async">
      <td>{{ admin.id }}</td>
      <td>{{ admin.prenom }}</td>
      <td>{{ admin.nom }}</td>
      <td>{{ admin.email }}</td>
      <td>{{ admin.telephone }}</td>
      <td>{{ admin.adresse?.numero }} {{ admin.adresse?.rue }} {{ admin.adresse?.codePostal }} {{ admin.adresse?.ville }}</td>
      <td><button (click)="editAdmin(admin.id)">edit</button></td>
      <td>
        <td>
          <button (click)="delete(admin.id!)" class="btn btn-outline-danger">
            supprimer
          </button>
        </td>
    </tr>
  </tbody>
</table>
<button (click)="newAdmin()">Nouveau Client</button>
