<table class="table">
    <thead>
      <th>id:</th>
      <th>nom:</th>
      <th>prix:</th>
      <th>description:</th>
      <th>stock:</th>
      <th>couleur:</th>
      <th>taille:</th>
    </thead>
    <tbody>
      <tr *ngFor="let a of observableBallons | async">
        <td>{{ a.id }}</td>
        <td>{{ a.nom }}</td>
        <td>{{ a.prix }}</td>
        <td>{{ a.description }}</td>
        <td>{{ a.stock}} </td>
        <td>{{ a.couleur }}</td>
        <td>{{ a.taille }}</td>

      
        <td>
          <button class="btn btn-primary btn-sm" (click)="addToCart(a)">
           ajouter panier
          </button>
          <a
          routerLink="edit/{{ a.id }}"
          routerLink="active"
          class="btn btn-outline-primary"
            >editer</a
          >
        </td>
        <td>
          <button (click)="delete(a.id!)" class="btn btn-outline-danger">
            supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/marchandise/ballon/add" routerLinkActive="active" class="btn btn-link"
    >ajouter un nouveau ballon</a
  >