<div class="card">
  <h5 class="card-title">Mon Panier</h5>
</div>
<ng-container *ngIf="cartItems.length !=0">
  <div class="container">
      <div class="card-table">
          <div class="cart-article">
              <table class="table table-responsive">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Nom article</th>
                          <th>Prix</th>
                          <th>Quantite</th>
                          <th>Total Article</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of cartItems">
                          <td>{{item.article?.id}}</td>
                          <td>{{item.article?.nom}}</td>
                          <td >{{item.article?.prix}}€</td>
                          <td *ngIf="item.article?.nom==='reservation'" >1</td>
                          <td *ngIf="item.article?.nom!=='reservation'" >{{item.quantite}}</td>
                          <td>{{item.total}}€</td>
                          <td *ngIf="item.article?.nom==='reservation'" >
                              <button (click)="ajoutQuantiter(item.article!)" disabled class="btn btn-primary">ajouter</button>
                          </td>
                          <td *ngIf="item.article?.nom!=='reservation'" >
                            <button (click)="ajoutQuantiter(item.article!)" class="btn btn-primary">ajouter</button>
                        </td>


                          <td *ngIf="item.quantite! >1" >
                              <button (click)="retraitQuantiter(item.article!)" class="btn btn-danger">retirer</button>
                          </td>
                          <td *ngIf="item.quantite! ==1" >
                            <button (click)="retraitQuantiter(item.article!)" disabled class="btn btn-danger">retirer</button>
                        </td>


                          <td>
                              <button (click)="removeItem(item.article!)" class="btn btn-danger">supprimer</button>
                          </td>
                      </tr>
                      <tr>
                          <td><button routerLink="/marchandise" class="btn btn-primary">Continuer mon shopping</button></td>
                          <button (click)="commander()" class="btn btn-primary">Commander</button>
                          <td><strong>Total : ${{grandTotal}}</strong></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</ng-container>


<ng-container *ngIf="cartItems.length ==0">
  <div class="container">

      <div class="center">
          <h4>Votre panier est vide !</h4>
          <h6>Ajoutez un article</h6>
          <button routerLink="/marchandise" class="btn btn-primary">Shop Now</button>
      </div>
  </div>
</ng-container>
