<ng-container *ngIf="article.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-article">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom article</th>
                            <th>Prix</th>
                            <th>Quantite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of article">
                            <td>{{a.id}}</td>
                            <td>{{a.nom}}</td>
                            <td >{{a.prix}}</td>
                            <td >{{a.quantite}}</td>
                            <td >{{a.total}}</td>
                            <td>
                                <button (click)="ajoutQuantiter()" class="btn btn-primary">ajouter</button>
                            </td>
                            <td>
                                <button (click)="retraitQuantiter()" class="btn btn-danger">retirer</button>
                            </td>
                            <td>
                                <button (click)="removeItem(a)" class="btn btn-danger">supprimer</button>
                            </td>
                        </tr>
                        <tr>
                            <td><button routerLink="/marchandise" class="btn btn-primary">Continuer mon shopping</button></td>
                     
                            <td><strong>Total : ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="article.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/marchandise" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
